@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("blocks.css");

@font-face {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Proxima-Nova-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/fonts/Proxima-Nova-Regular-Semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Sriracha.woff2) format('woff2');
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  --block-text-color: #222;
  --block-background-color: #fff;
  --block-accent-color: #FFBE5C;
  --block-shadow-color: #444;
  --pastel-blue-color: rgba(83,143,247);
  --pastel-green-color: rgb(167, 250, 180);
  --pastel-orange-color: #FFBE5C;
  --pastel-pink-color: rgb(133, 48, 125);
  --pastel-yellow-color: rgb(250, 240, 167);
}

figcaption {
  text-align: center;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
  text-underline-offset: 3px;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-lg bg-gray-100 dark:bg-gray-900;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200 p-0;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* Hyphenate text for blog posts */
.prose > p {
  hyphens: auto;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

/* Font-specific styles */
.gray-sriracha {
  @apply text-gray-700;
  font-family: "Sriracha", -apple-system, sans-serif;
  letter-spacing: 0.3px
}

.indigo-sriracha {
  @apply text-indigo-700;
  font-family: "Sriracha", -apple-system, sans-serif;
  letter-spacing: 0.3px
}

.pink-sriracha {
  font-family: "Sriracha", -apple-system, sans-serif;
  font-weight: 600;
  color: hsl(333deg, 100%, 45%);
  letter-spacing: 0.3px
}